<app-nav></app-nav>

<section class="mt-[70px]">

    <div class="w-full bg-slate-100 flex justify-evenly flex-wrap gap-y-2">

       <div class="w-[50%] justify-center flex gap-x-2 items-center mt-3">
        <i routerLink="/home" class="fa-solid fa-arrow-left bg-blue-500 hover:-translate-x-1 transition-transform cursor-pointer p-2 rounded-full text-white"></i>
        <p routerLink="/home" class="cursor-pointer">Home</p>
       </div>
       
       <div class="w-[50%]"></div>
       
        <div class="flex justify-center md:w-[50%] w-full ">
            <img class="bg-blue-400 rounded-full" [src]="userData.photo" alt="">
        </div>

        <div class="flex flex-col flex-wrap items-center md:items-start justify-center md:justify-evenly md:w-[50%] w-full">
            
                <p class="text-2xl">Name: {{userData.name}}</p>
                <p class="text-2xl">Email: {{userData.email}}</p>
                <p class="text-2xl">Gender: {{userData.gender}}</p>
                <p routerLink="/changepassword" class="text-2xl underline text-blue-500 cursor-pointer">Change Passowrd?</p>
            
        </div>

    </div>
</section>

<h2 class="text-center text-3xl font-semibold mt-5">My Posts:</h2>
<app-post [postsData]="userPosts" [totalItems]="totalItems"></app-post>